#WHEREIS {
  color:#FFF;
  line-height:100%;
}

#WHEREIS {
  box-sizing: border-box;
}

#WHEREIS .item {
  display:flex;
  margin-bottom:5px;
  width:400px;
  flex-wrap:wrap;
  justify-content: flex-start;
}

#WHEREIS .item.entered {
  color:#FFF;
}

#WHEREIS .item.exited {
  color:#999;
}

#WHEREIS .item.entered .locationContainer .exit {
  display:none;
}

#WHEREIS .item.exited .locationContainer .enter {
  display:none;
}

#WHEREIS .item.unknown .locationContainer .enter,
#WHEREIS .item.unknown .locationContainer .exit {
  display:none;
}
#WHEREIS .locationContainer {
  text-align:right;
  width:200px;
}

#WHEREIS .locationContainer * {
  padding-left:5px;
}

#WHEREIS .item > * {
  padding: 0 5px;
}

#WHEREIS .item.unknown .locationContainer:after {
  content: " unknown";
  width:180px;
  color:#999;
  display:inline;
}

#WHEREIS .title {
  width:100px;
  text-align:left;
}
#WHEREIS .location {
  text-align:right;
}
#WHEREIS .time {
  width:300px;
  margin-left:48px;
  font-size:80%;
  color:#9CE;
  text-align:right;
}

#WHEREIS .unknown .location,
#WHEREIS .unknown .time {
  display:none;
}
